* {
    margin: 0;
    padding: 0;
}
.cabecalho {
background-color: mediumblue;
color: white;
display: flex;
justify-content: space-around;
}
.cabecalho-imagem{
width: 10%;
}
.cabecalho-lista-item{
    display: inline-block;
margin: 0 16px;
justify-content: space-around;
padding: 24px 0;
font-size: 30px;
}
.escola-imagem{
    width: 15%;
}
.escola{
    background-image: linear-gradient(mediumblue,lightskyblue);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}
.escola-conteudo{
    width: 45%;
}
.escola-titulo{
    padding: 24px 0;
}